<p>
    Je suis inscrit comme ça dans le fichier <strong>class-component.component.ts</strong> :
</p>
<pre>
    @Component(&#123;
        <code>selector: '.app-class-component.',</code>
        templateUrl: './class-component.component.html',       
        styleUrls: ['./class-component.component.css']
    &#125;)
</pre>
<p>
    Dans le fichier <strong>class-component.component.html</strong> je suis inscrit comme ça :
</p>
<pre>
    <code>&lt;div class="app-class-component"&gt;&lt;/div&gt;</code>
</pre>