<!-- TS -->
<p>
    Je suis inscrit comme ça dans le fichier <strong>css-externe-component.component.ts</strong> :
</p>
<pre>
    @Component(&#123;
        selector: '.app-css-externe-component',
        templateUrl: './css-externe-component.component.html',       
        <code>styleUrls: ['./css-externe-component.component.css']</code>
    &#125;)
</pre>

<!-- HTML -->
<p>
    Dans le fichier <strong>css-externe-component.component.html</strong> je suis inscrit comme ça :<br />
    <strong>
        &lt;div class="app-class-component"&gt;
        &lt;/div&gt;
    </strong>
</p>

<!-- CSS -->
<p>
    Dans le fichier <strong>css-externe-component.component.css</strong> j'ai juste mis le text en rouge :<br />
</p>
<pre>
    .app-class-component &#123;
        color: "red";
    &#125;
</pre>
