<p>
    Je suis inscrit comme ça dans le fichier <strong>attribut-component.component.ts</strong> :
</p>
<pre>
    @Component(&#123;
        <code>selector: '[app-attribut-component]',</code>
        templateUrl: './attribut-component.component.html',       
        styleUrls: ['./attribut-component.component.css']
    &#125;)
</pre>
<p>
    Dans le fichier <strong>attribut-component.component.html</strong> je suis inscrit comme ça :
</p>
<pre>
    <code>&lt;div app-attribut-component&gt;&lt;/div&gt;</code>
</pre>